DATABASE_URL=postgresql://<db-user>:<db-password>@<db-host>:<db-port>/<db-name>
DB_NAME=<db-name>
DB_USER=<db-user>
DB_PASSWORD=<db-password>

SESSION_SECRET_KEY=<session-secret>

LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=<langsmith-endpoint>
LANGSMITH_API_KEY=<langsmith-api-key>
LANGSMITH_PROJECT=<langsmith-project>

QDRANT_URL=<qdrant-url>
REDIS_HOST=<redis-host>
REDIS_PORT=<redis-port>

GROQ_API_KEY=<groq-api-key>
GROQ_MODEL=<groq-model>

GEMINI_API_KEY=<gemini-api-key>
GEMINI_EMBEDDING_MODEL=<gemini-embedding-model>
GEMINI_MEMORY_MODEL=<memory-model>
