numpy==1.26.4

pandas
seaborn
matplotlib
streamlit

youtube-transcript-api==1.2.3

langchain
langchain-community
langchain-qdrant
langchain-ollama

faiss-cpu
ollama

fastapi
uvicorn
python-dotenv
qdrant-client
pywin32

# Core ML / DL
# torch==2.2.2+cu121
# torchvision==0.17.2+cu121
# torchaudio==2.2.2+cu121

# # Install torch with CUDA wheels
# --extra-index-url https://download.pytorch.org/whl/cu121

--extra-index-url https://download.pytorch.org/whl/cu121

torch==2.2.2+cu121
torchvision==0.17.2+cu121
torchaudio==2.2.2+cu121
