numpy
pandas
seaborn
matplotlib
streamlit

youtube-transcript-api==1.2.3

langchain
langchain-community
langchain-qdrant
langchain-ollama

faiss-cpu
ollama

fastapi
uvicorn
python-dotenv
qdrant-client
pywin32
